SERVER_URL="your_actual_hostname" # Required
SERVER_PASSWORD="the_password" # Required
DATA_FILE="/Users/morre/tmp/envelope-zero.json" # Optional. Defaults to data.json in this directory if not specified
